//doctype 5
html
  head
    title Mensaje Enviado
    link(rel='stylesheet',href='/stylesheets/sendmail.css')
  body
    h1= title
    a(href='http://190.41.246.91:8000/logistica/list/key/cotizacion/')= Regresar
